@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 800px;
  min-width: 180px;
  min-height: 684px;
  padding: 24px;
  background-color: white;
  margin-left:0;
  margin-right:0;

}

.form-section{
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-section h3{
    margin-bottom: 0.8rem;
}

form{
  width: 100%;
  transition: all 0.4s;
}

label {
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 0.4rem;
}

.caddress{
  margin-bottom: 1rem !important;
}

input[type=checkbox] {
  width: 24px;
  height: 24px;
  display: inline;
  position: relative;
  top: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: 3ch 1fr;
    align-items:baseline;
  }
  
  .grid-container input {
    grid-column-start: 1;
  }
  
  .grid-container label {
    grid-column-start: 2;
    padding-left: 0.2rem;
  }



form input[type=text], input[type=email],input[type=tel],select {
  padding: 5px;
  font-size: 1rem;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 0px rgba(66,66,66,.75);
  text-shadow: 0px 0px 0px rgba(66,66,66,.75);
  width: 100%;
  height: 42px;
  margin-bottom: 2rem;
  
}

input {
  margin-bottom: 12px;
  
}

button {
  font-size: 1.2rem;
  margin: 0 auto;
  display: block;
  background-color: #8300e9;
  color: white;
  border: 1px solid white;
  padding: 12px;
  border-radius: 4px;
  transition: all 0.4s;
  width: 100%;
}

button:hover {
  background-color: purple;
}

select {
  margin-bottom: 2rem;
}

textarea{
  padding: 5px;
  font-size: 14px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 0px rgba(66,66,66,.75);
  text-shadow: 0px 0px 0px rgba(66,66,66,.75);
  width: 100%;
  height: 64px;
  margin-bottom: 2rem;
}

.company{
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
}

.company:hover {
  background: #eee;
  cursor: pointer;
}

.companyAddress {
  font-size: 12px;
  color: gray;
}


#result {
    padding: 3px;
    position: absolute;
    background-color: white;
    min-width: 200px;
    width: 600px;
    display: none;
    border-radius: 8px;
    transition: all 0.5s;
    z-index: 1;
  }

  #result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #result ul :last-child {
    border-bottom: none;
  }

.lds-ring {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid lightgray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: lightgray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
